.toggle-btn {
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  padding: 8px 16px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: red;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(#275efe, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
