.timer {
  text-align: center;
}

.timer .timer-toggle-btn {
  padding: 8px;
  width: 64px;
  text-transform: capitalize;
  border: none;
  outline: none;
  background-color: brown;
  color: white;
  cursor: pointer;
}
